<div class="SignUpPage">
    <form id="forgot_password" class="form" method="POST" action="/auth/forgot_password">
        <h1 class="textCenter">Forgot Password</h1>
        <div class="inputGroup">
            <label class="signUpLabel">Email Address</label>
            <input name="email" type="email" class="SignUpInput" />
        </div>
        <button type="submit" class="btn signInBtn">Send Email</button>
        <div class="create">
            <p class="haveAcct leftSide">Don't have an account?&nbsp;</p>
            <a class="rightSide" href="/auth/signup">Create One.</a>
        </div>
    </form>
</div>