<% if (!user) { %>
    <div class="SignUpPage">
        <form class="form" method="POST" action="/auth/signin">
            <h1 class="textCenter">Sign In</h1>
            <div class="inputGroup">
                <label class="signUpLabel">Email Address</label>
                <input name="email" type="email" class="SignUpInput" />
            </div>
    
            <div class="inputGroup">
                <label class="signUpLabel">Password</label>
                <input name="password" type="pasword" class="SignUpInput" />
            </div>
    
            <div class="inputGroup">
                <label class="signUpLabel">Confirm Password</label>
                <input name="confirm-password" type="password" class="SignUpInput" />
            </div>
            <button type="submit" class="btn signInBtn">Sign In</button>
            <div class="create">
                <p class="haveAcct leftSide">Don't have an account? </p>
                <a class="rightSide" href="/auth/signup">Create One. </a>
            </div>
            <div class="forgetPArent">
                <a class="forget" href="/auth/password">forget password? </a>
            </div>
        </form>
    
    
    </div>
<% } %>

<% if (user) { %>
    <p>You are already signed-in!</p>
<% }%>

