<% if (!locals.user) { %>
    <div class="SignUpPage">
        <form id="signin" class="form" method="POST" action="/auth/signin">
            <h1 class="textCenter">Sign In</h1>
            <div class="inputGroup">
                <label class="signUpLabel">Email Address</label>
                <input name="email" type="email" class="SignUpInput" />
            </div>
    
            <div class="inputGroup">
                <label class="signUpLabel">Password</label>
                <input name="password" type="password" class="SignUpInput" />
            </div>
            <button type="submit" class="btn signInBtn">Sign In</button>
            <div class="create">
                <p class="haveAcct leftSide">Don't have an account?&nbsp;</p>
                <a class="rightSide" href="/auth/signup">Create One.</a>
            </div>
            <div class="forgetPArent">
                <a href="/auth/forgot_password">Forget password? </a>
            </div>
            <div class="loader"></div>
        </form>
    </div>
<% } %>

<% if (locals.user) { %>
    <p>You are already signed-in!</p>
<% }%>

