<h1>Sign In</h1>
<form method="POST" action="/auth/signin">
    <div>
        <label>Email Address</label>
        <input type="email" name="email">

        <label>Password</label>
        <input type="password" name="password">
    </div>
    <button type="submit">Sign in</button>
</form>