<h1> Welcome to Innovation Cafe'</h1>
<p>Please fill all the required field -*- </p>

<form method="POST" action="/auth/signup">
    <div>
        <label>First Name *</label>
        <input name="firstName" type="text" />
        
        <label>Last Name *</label>
        <input name="lastName" type="text" />

        <label>Email Address *</label>
        <input name="email" type="email" />

        <label>Password *</label>
        <input name="password" type="password" />

        <label>Phone Number</label>
        <input name="phoneNumber" type="text" />

        <label>Address</label>
        <input name="address" type="text" />

    </div>
    <button type="submit">Sign up</button>
</form>