<%- include('./partial/header.ejs') %>

<div class="SignUpPage">
<form class="form" method="POST" action="/item/add" enctype="multipart/form-data">

    <h1 class="textCenter">Adding New Item</h1>

    <div class="inputGroup">
        <label class="signUpLabel">Item Image</label>
        <input name="imageURL" type="file" class="SignUpInput"/>
    </div>

    <div class="inputGroup">
        <label class="signUpLabel">Item Name</label>
        <input name="title" type="text" class="SignUpInput"/>
    </div>

    <div class="inputGroup">
        <label class="signUpLabel">Item Description</label>
        <input name="des" type="text" class="SignUpInput"/>
    </div>

    <div class="inputGroup">
        <label class="signUpLabel">Item Category</label>
        <select class="SignUpInput select" name="category">
            <option>Foods</option>
            <option>Drinks</option>
            <option>Deserts</option>
        </select>
    </div>

    <div class="inputGroup">
        <label class="signUpLabel">Item price</label>
        <input name="price" type="text" class="SignUpInput"/>
    </div>

    <button type="submit" class="btn signInBtn">Add New Item</button>

</form>

</div>

