<div class="itemAdd">
    <a class="aAdd" href="./add">Add</a>
</div>
<div class="itemContainer">
    <% items.forEach(function(item){ %>
        <!-- <div class="itemImg"> -->
            
          <!-- </div> -->
    <div class="items">
        <img class="menuImage" src="https://live.staticflickr.com/65535/52716853889_0b5893fc5c.jpg" width="300" height="200" alt="Cappuccino_at_Sightglass_Coffee">
        <!-- <img src="https://live.staticflickr.com/65535/52716075817_f2c18fa8d2.jpg" width="500" height="357" alt="Esspresso"> -->
        <!-- <img src="https://live.staticflickr.com/65535/52717165559_c7f35484da.jpg" width="500" height="333" alt="wallpaper-blur"> -->
        <%= item.imageURL %>
        <p class="emptySentence"></p>
        <a class="aAdd" href="/item/show?id=<%= item._id %>"><%= item.title %></a>
        <p><%= item.price %> BD </p>
    </div>
    <% }) %>
</div>
