<div class="itemAdd">
    <a href="./add">add</a>
</div>
<div class="itemContainer">
    <% items.forEach(function(item){ %>
        <!-- <div class="itemImg"> -->
            
          <!-- </div> -->
    <div class="items">
        <img class="menuImage" src="\<%=item.imageURL%>" width="200" height="150" alt="Cappuccino_at_Sightglass_Coffee">
        <a href="/item/show?id=<%= item._id %>"><%= item.title %></a>
        <%= item.price %> <span>BD</span>
    </div>
    <% }) %>
</div>
