
<h1 class="menuTitle">This the menu page</h1>
<a href="./add">add</a>

<div class="items">
    <!-- <img src="https://live.staticflickr.com/65535/52716853889_0b5893fc5c.jpg" width="500" height="333" alt="Cappuccino_at_Sightglass_Coffee"> -->
    <!-- <img src="https://live.staticflickr.com/65535/52716075817_f2c18fa8d2.jpg" width="500" height="357" alt="Esspresso"> -->
    <% items.forEach(function(item){ %>
        <%= item.imageURL %>
        <%= item.title %>
    <% }) %>
</div>
