<div class="sub-nav">
    <div class="header">
        <a href="/profile/">View Profile</a>
        <a href="/profile/edit_personal">Edit Personal Details</a>
        <a href="/profile/edit_address">Edit Address</a>
    </div>
    
    <div class="header">
        <a href="/auth/signout">Sign Out</a>
    </div>
</div>