<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Innovation Cafe</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/functions/signUpFunction.js"></script>
</head>

<body>
    <header>
        <nav>
            <div class="titleContainer">
                <a href="/home" style="height: 100%;">
                    <img src="/images/logo.png">
                </a>
                <a href="/home" style="height: 100%;">
                    <h3 class="title">Innovation Cafe</h3>
                </a>
            </div>

            <div class="ctaHeader">
                <a href="/home/index">Home</a>
                <a href="/item/index">Menu</a>
            </div>


            <% if (!auth) { %>
                <div class="ctaAuth">
                    <a class="signin" href="/auth/signin">Sign In</a>
                    <a class="signup" href="/auth/signup">Register</a>
                </div>
            <% } %>
            
        </nav>
    </header>

    <div class="body">
        <%- body %>
    </div>

    <footer>
        <nav>
            <p>© 2023 Innovation Cafe</p>
        </nav>
    </footer>
</body>

</html>