<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Innovation Cafe</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/scripts/formSteps.js" defer></script>
    <% if (!locals.user) { %>
        <script src="/scripts/cart.js" defer></script>
    <% } %>
    <script type="module" src="/scripts/auth.js" defer></script>
</head>

<body>
    <header>
        <nav>
            <div class="titleContainer">
                <a class="logo" href="/home">
                    <img src="/images/logo.png">
                </a>
                <a href="/home">
                    <h3 class="title">Innovation Cafe</h3>
                </a>
            </div>
            <div class="ctaHeader">
                <a href="/home/index">Home</a>
                <a href="/item/index">Menu</a>
            </div>

            <% if (!locals.user) { %>
                <div class="ctaAuth">
                    <a class="signin" href="/auth/signin">Sign In</a>
                    <a class="signup" href="/auth/signup">Sign Up</a>
                </div>
            <% } %>
            
            <% if (locals.user) { %>
                <a href="/profile/"></a>
                <div class="profile-container">
                    <a href="/profile/">
                        <img src="<%= locals.user.avatarURL ? locals.user.avatarURL : '/images/profile/guest.jpeg' %>" alt="profile pic">
                    </a>
                    <a href="/profile/"><%= locals.user.firstName %></a>
                    <% if (locals.user.type === 'admin') { %>
                        <a style="color: red;" href="/profile/">
                            <%= `(${locals.user.type.toUpperCase()})` %>
                        </a>
                    <% } %>
                </div>
            <% } %>
        </nav>
    </header>

    <div class="body">
        <%- body %>
    </div>

    <footer>
        <nav>
            <p>© 2023 Innovation Cafe</p>
        </nav>
    </footer>
</body>

</html>