@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

html{
    font-family: 'Tajawal', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.body{
    min-height: 100vh;
}


/* Layout Header */

header {
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E1E1E;
}

.ctaHeader {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 0;
    overflow: hidden;
    padding: 20px 10px;
}

.ctaHeader a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    flex-direction: row;
    color: #FFFFFF;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}

.ctaHeader a:hover{
    color: goldenrod;
    transition: all 0.3s ease-in-out;
}

.ctaAuth{
    margin-right: 15px;
}

.ctaAuth a {
    text-align: center;
    padding: 12px 30px 10px 30px;
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    width: 80px;
    margin-right: 5px;
    font-weight:500;
    transition: all 0.3s ease-in-out;
}

.signup {
   background-color: #FFFFFF;
   color: #1E1E1E !important;
   border-color: white;
}

.signup:hover{
    color: #FFFFFF !important;
    background-color: #1E1E1E!important;
    transition: all 0.3s ease-in-out;
}

.signin:hover {
    color: #1E1E1E !important;
    background-color: #FFFFFF !important;
    transition: all 0.3s ease-in-out;
    border-color: white;
}

/* Profile Container */
.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border: none;
    border-left-style: solid;
    border-color: #cecece;
    border-width: 0.5px;
    padding-left: 5px;
}

.profile-container a{
    margin-left: 5px;
    text-decoration: none;
    color: white;
}

.profile-container img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}


/* Title Nav Bar */

.titleContainer{
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.title {
    text-align: center;
    font-size: 24px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

header img {
    height: 50px;
    width: 50px;
}

header a{
    text-decoration: none;
}

.homeContainer {
    min-height: 100vh;
    width: 100%;
    background-image: url('../images/wallpaper.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.589);
    color: #FFFFFF;
    margin: 20px;
}

.textContainer {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.textContainer h1 {
    color: #edefed;
    font-weight: bold;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.105em;
    margin: 0;
}

.textContainer h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
}

.cta {
    text-decoration: none;
    border-radius: 15px;
    font-size: 25px;
    color: white;
    background-color: rgb(207, 145, 37);
    padding: 15px 30%;
    border: none;
    border-bottom-style: solid;
    border-color: white;
    transition: all 0.3s ease-in-out;
}

.cta:hover {
    cursor: pointer;
    background-color: rgb(118, 82, 20);
    transition: all 0.3s ease-in-out;
}

footer {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
    background-position: center;
    background-size: cover;
    background-color: #1E1E1E;
}

/*
    background color: #1E1E1E
    font color: #FFFFFF
*/

/* Styling for the SIGN UP PAGE*/
/* Beginning of the CSS Coding */
/* the Sign Up Styling has been used for the Sign Up Sign In and Adding items */
/* Page styling */
.SignUpPage {
    display: grid;
    place-items: center;
    padding: 1rem;
    min-height: 100vh;
}

.form {
    width: clamp(320px, 30%, 430px);
    margin: 0 auto;
    border: 3px solid #1e1e1e;
    border-radius: 0.35rem;
    padding: 1.5rem;

}

.textCenter {
    text-align: center;
}

/* Sign Up Input Styling */

.SignUpInput {
    display: block;
    width: 92%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.signUpLabel {
    display: block;
    margin-bottom: 0.5rem;
}

.inputGroup {
    margin: 1.5rem 0;
}

/* Button Styling */

.btn {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: 0.3s;
}

.width50 {
    width: 50%;

}

.rightBtn {
    margin-left: auto;
}

.btn:hover {
    background-color: white;
    color: #1e1e1e;
    box-shadow: 0 0 0 3px #1e1e1e;
    border-radius: 0.25rem;
}

.btnGroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

/* Step Styling */

.formStep {
    display: none;
    animation: animate 0.5s;
    transform-origin: top;
}

@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }

    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

.formActiveStep {
    display: block;
}

/* Progress Bar */

.progressBar::before,
.progress {
    content: "";
    position: absolute;
    top: 43%;
    transform: translate();
    background-color: #cecece;
    height: 4px;
    width: 100%;
    counter-reset: step;
    z-index: -1;
}

.progress {
    background-color: #1e1e1e;
    width: 0%;
    transition: 0.3s;
}

.progressBar {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 2.5rem;
}

.progressStep {
    width: 35px;
    height: 35px;
    background-color: #cecece;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressStep::before {
    counter-increment: step;
    content: counter(step);

}

.progressStep::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.1rem);
    font-size: 0.85rem;
    color: #b4b4b4;
}

.progressStepActive {
    background-color: #1e1e1e;
    color: white;
}

.progressStepActive::after {
    color: #1e1e1e;
}

.haveAcct{
    display: block;
    text-align: center;
}

/* Styling for the SIGN in PAGE*/
/* Beginning of the CSS Coding */

.signInBtn {
    width: 100%;
}

.create {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.forgetPArent {
    display: grid;
    place-items: center;
}

.forget {
    text-decoration: none;
    color: #1e1e1e;
}

/*Items Sub Nav Bar*/
.sub-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    height: 40px;
    padding: 20px;
    background-color: rgb(211, 211, 211);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sub-nav a{
    font-size: 18px;
    text-decoration: none;
    color: #1E1E1E;
    padding: 10px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.sub-nav a:hover{
    color: grey;
    transition: all 0.3s ease-in-out;
}

.sub-nav > div{
    display: flex;
    flex-direction: row;
}

.sub-nav input {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.sub-nav button{
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    transition: all 0.3s ease-in-out;
}

.sub-nav button:hover{
    color: grey;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}


.cart-container{
    display: flex;
    flex-direction: column;
    height: 30px;
    position: relative;
}

.cart-container img{
    height: 100%;
}

.cart-container h6{
    position: absolute;
    bottom: 2.5px;
    right: -7.5px;
    background-color: red;
    padding: 5px;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    text-align: center;
    color: #FFFFFF;
    overflow: hidden;
    font-size: 10px;
}

.searchContainer input{
    border-radius: 20px;
    width: 200px;
}

.searchContainer button{
    border-radius: 20px;
}

/*END OF SUB NAV BAR*

/* Menu page CSS */

.itemContainer {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.itemContainer > a {
    text-decoration: none;
    margin: 20px;
}

.items {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 310px;
    background-color: #edefed;
    color:#1e1e1e;
    font-size: 20px;
    text-align: center;
    border-radius: 30px;
    line-height: 30px;
    justify-content: center;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.items > p {
    font-weight: 600;
}

.emptySentence {
    font-size: 5px;
}

.menuImage{
    border-radius: 30px;
    object-fit: cover;
    width: 300px;
    height: 220px;
}

/* Show Page CSS */
.showCenter {
    text-align: center;
}

.addCart {
    margin-top: 0.75rem;
    width: 100%;
    border: none;
    height: 45px;
}

/* View Profile Page */
.profile-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-main-container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 80%;
    margin: 20px 0;
    background-color: #edefed;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-main-container div h2{
    border: none;
    border-bottom-style: solid;
    border-color: #b4b4b4;
    border-width: 1px;
    width: 70%;
    text-align: center;
}
.profile-main-container > div > img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-main-container> div > a{
    text-decoration: none;
    color: #21a8e7;
    font-size: 20px;
}

.profile-main-container > div > a:hover {
    text-decoration: underline;
}

/* Item Category selection */
.select {
    width: 389px;
}

/* Filter Styling */

.filterGroup {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;
    justify-content: center;
}

.filterBtn {
    padding-top: 15px !important;
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 18px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    width: 40px;
    margin-right: 5px;
    color: #1E1E1E;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    background-color: #1e1e1e;
    color: white;
    cursor: pointer;
}

.filterBtn:hover {
    background-color: white;
    color: #1e1e1e;
    box-shadow: 0 0 0 3px #1e1e1e;
    border-radius: 50px;
    width: 60px;
}

/* Table */

table {
    border-spacing: 0px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

tr,
td,
th {
    padding: 20px;
    border: 1px solid rgb(236, 236, 236);
}

/* Cart Container */
.total-price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.cartButtonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.cartButtonsContainer button{
    margin: 5px;
}

.notFound{
    text-align: center;
}

/* Cart */
.totalPrice {
    display: block;
    width: 92%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    text-align: center;
}

.shoppinBtn {
    border: none;
    height: 100%;
    width: 100%;
    color: white;
}

.shoppinBtn:hover {
    color: #1E1E1E;
}

.chkBtn {
    height: 46px;
}

/*Loader*/
.loader {
    border: 10px solid #f3f3f3;
    /* Light grey */
    border-top: 10px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* message */

#message{
    color: rgb(90, 90, 90);
    text-align: center;
}

/*error page */
.error_page{
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.error_page h1{
    font-size: 2.5rem;
}

/* Cart Btn */
.cartBtn{
    padding: 0 !important;
    margin: 0 !important;
    text-decoration: none !important;
    background-color: inherit !important;
    border: 0 !important;
}

/* Cart Page Container */
.cartPageContainer{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
}