@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

html{
    font-family: 'Tajawal', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    /* background-color: #1E1E1E; */
}

header {
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E1E1E;
}

.ctaHeader {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 0;
    overflow: hidden;
    padding: 20px 10px;
}

.ctaHeader a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    flex-direction: row;
    color: #FFFFFF;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}

.ctaHeader a:hover{
    color: goldenrod;
    transition: all 0.3s ease-in-out;
}

.ctaAuth{
    margin-right: 15px;
}

.ctaAuth a {
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    width: 80px;
    margin-right: 5px;
    font-weight:500;
    transition: all 0.3s ease-in-out;
}

.signup {
   background-color: #FFFFFF;
   color: #1E1E1E !important;
}

.signup:hover{
    color: #FFFFFF !important;
    background-color: #1E1E1E!important;
    transition: all 0.3s ease-in-out;
}

.signin:hover {
    color: #1E1E1E !important;
    background-color: #FFFFFF !important;
    transition: all 0.3s ease-in-out;
}

/* Title Nav Bar */

.titleContainer{
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.title {
    float: right;
    text-align: center;
    font-size: 24px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

header img {
    height: 50px;
    width: 50px;
}

/* .ctaHeader {
    
} */

.homeContainer {
    height: 700px;
    width: 100%;
    position: relative;
}

.homeContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 50%;
    /* height: 50%; */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.589);
    color: #FFFFFF;
}

.textContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    text-align: center;
}

.textContainer h1 {
    color: #edefed;
    font-weight: bold;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.105em;
}

.textContainer h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
}

.cta {
    border: none;
    border-radius: 20px;
    font-size: 30px;
    color: #1E1E1E;
    background-color: #FFFFFF;
    width: 350px;
    height: 60px;
}

footer {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    color: #FFFFFF;
    background-position: center;
    background-size: cover;
    background-color: #1E1E1E;
}

/*
    background color: #1E1E1E
    font color: #FFFFFF
*/

/* Styling for the SIGN UP PAGE*/
/* Beginning of the CSS Coding */

/* Page styling */
.SignUpPage {
    margin: 1rem;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.form {
    width: clamp(320px, 30%, 430px);
    margin: 0 auto;
    border: 3px solid #1e1e1e;
    border-radius: 0.35rem;
    padding: 1.5rem;

}

.textCenter {
    text-align: center;
}

/* Sign Up Input Styling */

.SignUpInput {
    display: block;
    width: 92%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.signUpLabel {
    display: block;
    margin-bottom: 0.5rem;
}

.inputGroup {
    margin: 1.5rem 0;
}

/* Button Styling */

.btn {
    padding: 0.75rem;
    display: block;
    text-decoration: none;
    background-color: #1e1e1e;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: 0.3s;
}

.width50 {
    width: 39%;

}

.rightBtn {
    margin-left: auto;
}

.btn:hover {
    background-color: white;
    color: #1e1e1e;
    box-shadow: 0 0 0 3px #1e1e1e;
    border-radius: 0.25rem;
}

.btnGroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

/* Step Styling */

.formStep {
    display: none;
    animation: animate 0.5s;
    transform-origin: top;
}

@keyframes animate {
    from {
        transform: scale(1, 0);
        opacity: 0;
    }

    to {
        transform: scale(1, 1);
        opacity: 1;
    }
}

.formActiveStep {
    display: block;
}

/* Progress Bar */

.progressBar::before,
.progress {
    content: "";
    position: absolute;
    top: 43%;
    transform: translate();
    background-color: #cecece;
    height: 4px;
    width: 100%;
    counter-reset: step;
    z-index: -1;
}

.progress {
    background-color: #1e1e1e;
    width: 0%;
    transition: 0.3s;
}

.progressBar {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 2.5rem;
}

.progressStep {
    width: 35px;
    height: 35px;
    background-color: #cecece;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressStep::before {
    counter-increment: step;
    content: counter(step);

}

.progressStep::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.1rem);
    font-size: 0.85rem;
    color: #b4b4b4;
}

.progressStepActive {
    background-color: #1e1e1e;
    color: white;
}

.progressStepActive::after {
    color: #1e1e1e;
}

/* Styling for the SIGN in PAGE*/
/* Beginning of the CSS Coding */

.signInBtn {
    width: 100%;
}

.create {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.forgetPArent {
    display: grid;
    place-items: center;
}

.forget {
    text-decoration: none;
    color: #1e1e1e;
}
/* End of the CSS coding for the Sign in */

/* End of the CSS Coding */