<div class="sub-nav">
    <div>
        <a href="/item/index">Menu</a>
        <% if (locals.user) { %>
            <% if (locals.user.type === 'admin') { %>
                <a href="/item/add">Add Item</a>
            <% } %>
        <% } %>
    </div>
    <div class="searchContainer">
        <form action="/item/index">
            <input name="search" type="text" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
    </div>
    <% if (locals.user) { %>
        <a href="/cart/index">
            <div class="cart-container">
                <img src="/images/cart.png" alt="cart">
                <h6>
                    <%= locals.user.cart.length %>
                </h6>
            </div>
        </a>
    <% } else{ //guest%>
        <form action="/cart/index">
            <button class="cartBtn" type="submit">
                <div class="cart-container">
                    <img src="/images/cart.png" alt="cart">
                    <h6>
                    </h6>
                    <input type="hidden" name="items">
                </div>
            </button>
        </form>
    <% } %>
</div>