<div class="homeContainer">
    <div class="textContainer">
        <div class="text">
            <h1>Innovation Cafe</h1>
            <h3>Drink Coffee, feel innovative today.</h3>
            <a href="/item/index" class="cta">Order Now!</a>
        </div>
    </div>
</div>