<div class="homeContainer">
    <img src="/images/wallpaper.jpg">
    <div class="textContainer">
        <div class="text">
            <h1>Innovation Cafe</h1>
            <h3>Drink Coffee, feel innovative today.</h3>
            <button class="cta">Menu</button>
        </div>
    </div>
</div>